@model IEnumerable<DoroboShop.Models.ProductViewModel>

@foreach (var item in Model)
{
    <div>
        <div>
            <img src="@item.Photo"/>
            <h3></h3>
            <h3></h3>
            <h3></h3>
        </div>
    </div>
}
